<h5 *ngIf="searchQuery">The searchbox query is {{searchQuery}}</h5>
<div *ngIf="loading">loading..</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>title</th>
            <th>body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of (results | filterResults: searchQuery); let isEven = odd;"
            [ngStyle]="{'background-color': isEven? '#E6F1F5' : 'white'}">
                <th >{{entry.id}}</th>
                <th>{{entry.title}}</th>
                <th>{{entry.body}}</th>
        </tr>
    </tbody>
</table>

