<div class="input-group">
	<div><div id="triangle"><div id="triangle-inside"></div></div></div>
	<h1>{{title}}</h1>
    <input #searchbox type="text" class="form-control" placeholder="Search ..."  value = "{{storedValue}}"(keyup.enter) = "onEnter(searchbox)" >
</div>
