/* HEADER */
.input-group {
    margin: 0 auto;
    width: 100%;
    top: 3px;
}
.input-group input {
    height: 50px;
}
.input-group h1 {
	margin-top: 0px;
	margin-bottom: 20px;
}
#triangle {
	margin-top: 20px;
	height: 5px;
	width: 5px;
	position: relative;
}
#triangle-inside {
	position: absolute;
	top: 5px;
	border-left: 12px solid red;
	border-right: 12px solid red;
	border-bottom: 12px solid transparent;
}
