<app-navigation></app-navigation>
<div id="header-wrapper">
    <div class="container">
        <app-header (text)="messageTransmitted($event)" title ="Angular Demo"></app-header>
    </div>
</div>
<div class="container">
    <app-content [searchQuery] = "message" ></app-content>
</div>
