<app-navigation></app-navigation>
<div class="container">
    <div class="row"><h1>Pictures</h1></div>
    <div id="photoAlbumHeader" class="row clearfix">
        <p class="pull-left">All pictures taken from: </p><a href="https://pixabay.com/"><img src="./assets/images/pixabay_logo.png"  height="40" alt="Pixa Bay"></a>
    </div>
    <div class="row">
        <div id="photos" *ngFor="let image of photosList">
            <img src={{image.imageSrc}} width="{{image.width}}" height="{{image.height}}" (click)="imageClicked(image)">
        </div>
          
    </div>
</div>
