#header-wrapper {
    background-color: #7997A1;
    min-height: 250px;
}
#header-wrapper .container {
    height: 250;
}
#photoAlbumHeader p {
    margin-right: 1em;
    margin-bottom: 20px;
    line-height: 3;
}
#photos img {
    float: left;
    padding: 10px 20px 10px 0px;
}