.navbar {
    background: #205081;
    border-bottom-color: #2e3d54;
    margin-bottom: 0;
    border-radius: 0;
}
.nav>li>a {
    color: white;
}
.nav>li>a:hover{
    background-color: red;
}
#navigation-wrapper {
	background: #205081;
}