<div id="navigation-wrapper">
    <nav class="navbar navbar-light bg-faded container">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/photoalbum" routerLinkActive="active">PhotoAlbum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" >Not Found</a>
            </li>
        </ul>
    </nav>
</div>
